@model IEnumerable<WEBMES_V2.Models.DTO.MaterialStagingDTO.MaterialHistoryDTO>;

<div class="row p-3">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover" id="MaterialHistoryListTable">
                <thead>
                    <tr>
                        <th class="fixed-cell-width">Customer</th>
                        <th class="fixed-cell-width"></th>
                        <th class="fixed-cell-width"></th>
                        <th class="fixed-cell-width"></th>
                        <th class="fixed-cell-width"></th>
                        <th class="fixed-cell-width"></th>
                        <th class="fixed-cell-width"></th>
                        <th class="fixed-cell-width"></th>
                        <th class="fixed-cell-width"></th>
                        <th class="fixed-cell-width"></th>
                        <th class="fixed-cell-width"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>