@{
    ViewBag.Title = "Material Staging Dashboard";
}

<div class="card ATEC-theme-color mb-3">
    <div class="card-header text-white">
        <h3>Dashboard</h3>
    </div>
</div>


<div class="card pb-3">
    <div class="card-body">
        @* Validate *@
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="mb-3">
                <div class="alert alert-danger">
                    <ul>
                        @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <li>@modelError.ErrorMessage</li>
                        }
                    </ul>
                </div>
            </div>
        }

        <div class="row p-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Material</label>
                    <select id="materialSelect" class="select2">
                        <option value="1">Epoxy</option>
                        <option value="2">Molding Compound</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <button class="btn btn-success" id="autoLoad">Stop Auto Load</button>
            </div>
        </div>

        @* Table *@
        <div class="p-3" id="materialTableList"></div>

        <div class="row p-3 d-none" id="divCancel">
            <div class="col-md-3">
                <a asp-controller="MaterialStaging" class="btn btn-warming asp-action="MaterialDashboard">Cancel</a>"
            </div>
        </div>

    </div>
</div>

@section Scripts
{
    <script>
        //initialize select
        $('.select2').select2({
            width: '100%'
        });
        var selectedMaterial = $('#materialSelect').val();

        var typingInterval = 5000
        var running = true;
        var intervalId;
        var runAutoLoad = 'Run Auto Load'
        var stopAutoLoad = 'Stop Auto Load'

        $(function () {
            callMaterialList(selectedMaterial);

            $('#materialSelect').change(function () {
                var currentMaterial = $('#materialSelect').val();
                callMaterialList(currentMaterial);
            });

            callMaterialList(selectedMaterial);

            if (running) {
                intervalId = setInterval(function () {
                    console.log(selectedMaterial)
                    callMaterialList(selectedMaterial);
                }, typingInterval);
            }

        });

        $("#autoLoad").click(function () {
            running ? stopInterval() : startInterval();
        });

        function stopInterval() {
            running = false
            clearInterval(intervalId);
            $("#autoLoad").text(runAutoLoad)
            $("#autoLoad").removeClass('btn-success').addClass('btn-danger')
        }

        function startInterval() {

            intervalId = setInterval(function () {
                callMaterialList(selectedMaterial);
            }, typingInterval);

            running = true
            $("#autoLoad").text(stopAutoLoad)
            $("#autoLoad").removeClass('btn-danger').addClass('btn-success')
        }

        $('#materialSelect').change(function () {
            selectedMaterial = $(this).val();
        });

        //Call Material List
        callMaterialList = (paramSelectedMaterial) => {
            $.ajax({
                type: "GET",
                url: "/MaterialStaging/_MaterialDashboardListTable",
                data: {
                    MaterialType: paramSelectedMaterial
                },
                dataType: "html",
                success: function (response) {
                    $('#materialTableList').html('');
                    $('#materialTableList').html(response);
                    initializeDatatable('MaterialListTable');

                },
                error: function (xhr, status, error) {
                    alert('Error, Please contact IT for the solution');
                }
            });
        }


    </script>
}