.fixed-cell-width {
    width: 1000px;
}



/*
Custom Loading Screen*/

.loading-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7));
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.loader img {
    animation: spin 1s linear infinite;
    width: 100px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Skeleton screen styling */
.skeleton-row {
    height: 20px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
}

@keyframes loading {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}





/*    error page*/
.error-container {
    text-align: center;
}

.error-image {
    max-width: 100%;
    height: auto;
}

.fancy-text {
    font-family: 'YourFancyFont', sans-serif; 
    font-size: 24px;
    color: #ff0000; 
    animation: bounce 2s infinite; 
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}



/* Styles for the notification alert */
.notificationAlert {
    z-index: 1051;
}

.modal {
    z-index: 1050; /* Set the z-index of the modal to a higher value than the alert */
}


