

<!-- Modal -->
<div class="modal fade" id="TrackOutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header ATEC-theme-color text-white">
                <h5 class="modal-title" id="exampleModalLabel">Tracked Out</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row pl-4 pr-4">
                    <div class="col-md-12">

                        <div id="erroDiv" class="mb-3" style="display: none;">
                            <div class="alert alert-danger">
                                <label id="errorMessage"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row p-3">
                                <div class="col-md-12">
                                    <label for="txtLotCode" class="form-label">Scan magazine barcode</label>
                                    <input type="text" class="form-control" id="txtMagazineCodeTrackOut">
                                </div>
                            </div>
   
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>