@model WEBMES_V2.Models.StaticModels.Generic.SearchData

@{
    ViewBag.Title = "MAGAZINE HISTORY";
    var searchData = ViewBag.SearchData;
}

<div class="card ATEC-theme-color mb-3">
    <div class="card-header text-white">
        <H3>MAGAZINE HISTORY</H3>
    </div>
</div>

<div class="card pb-3">
    <div class="card-body">
         @using (Html.BeginForm("SearchList", "PlasmaMagazine", FormMethod.Post))
         {         
             <div class="row p-3">
               <div class="col-md-6">
                    @Html.AntiForgeryToken()
                    @Html.TextBoxFor(model => model.searchValue, new { @class = "form-control", @placeholder = "Search" })
                 </div>
             </div>
         }
        <div id="historyTable"></div>
    </div>
</div>





@section Scripts
{
    <script>
        var searchData = '@Html.Raw(searchData)';

        $(function () {
            callmagazineHistory(searchData);
        });


        //Function for Geting History table
        function callmagazineHistory(paramSearch) {
            showSkeletonLoading('historyTable', 10, 20)
            return new Promise(function (resolve, reject) {
                $.ajax({
                    type: "GET",
                    url: "/PlasmaMagazine/_MagazineHistoryTable",
                    data: {
                        searchValue: paramSearch
                    },
                    dataType: "html",
                    success: function (response) {
                        $("#historyTable").html('');
                        $("#historyTable").html(response);
                    },
                    error: function (xhr, status, error) {
                        alert("Error Please contact IT for the solution")
                    }

                });
            });
        }

    </script>
}