@{
    ViewBag.Title = "Dashboard Magazine";
}

<div class="card ATEC-theme-color mb-3">
    <div class="card-header text-white">
        <H3>Dashboard</H3>
    </div>
</div>



<div class="card pb-3">
    <div class="card-body">
        @* Validation *@
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="mb-3">
                <div class="alert alert-danger">
                    <ul>
                        @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <li>@modelError.ErrorMessage</li>
                        }
                    </ul>
                </div>
            </div>
        }

        <div class="row p-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Stage</label>
                    <select id="stagePlanSelect" class="select2">
                        <option value="7">DA TO DA CURE</option>
                        <option value="8">PLASMA TO WIREBOND</option>
                        <option value="12">PLASMA TO MOLD</option>
                    </select>
                </div>
            </div>

        </div>

        @* Table *@
        <div class="p-3" id="magazineTableList"></div>


        <div class="row p-3 d-none" id="divCancel">
            <div class="col-md-3">
                <a asp-controller="PlasmaMagazine" class="btn btn-warning asp-action="PlasmaMagazineView">Cancel</a>
            </div>
        </div>

    </div>
</div>

<div id="trackeOutModal"></div>

@section Scripts
{

    <script>
        //initialize select
        $('.select2').select2({
            width: '100%'
        });


        $(function () {
            var selectedStage = $('#stagePlanSelect').val();
            callMagazineList(selectedStage)


            $('#stagePlanSelect').change(function () {
                var currentStage = $('#stagePlanSelect').val();
                callMagazineList(currentStage)
            });


            setInterval(function () {
                callMagazineList(selectedStage)
            }, 5000);

        });





        //Call Magazine List
        function callMagazineList(paramSelectedStage) {
            $.ajax({
                type: "GET",
                url: "/PlasmaMagazine/_MagazineDashboardListTable",
                data: {
                    StageCode: paramSelectedStage
                },
                dataType: "html",
                success: function (response) {

                    $("#magazineTableList").html('');
                    $("#magazineTableList").html(response);

                },
                error: function (xhr, status, error) {
                    alert("Error Please contact IT for the solution")
                    // callErrorPage('An error occurred while fetching data');
                }
            });
        }






    </script>

}
