
@{
    ViewBag.Title = "PLASMA";
}

<div class="card ATEC-theme-color mb-3">
       <div class="card-header text-white">
               <H3>PLASMA</H3>
       </div>
   </div>
   
   
   
   <div class="card pb-3">
       <div class="card-body">
        @* Validation *@
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="mb-3">
                <div class="alert alert-danger">
                    <ul>
                        @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <li>@modelError.ErrorMessage</li>
                        }
                    </ul>
                </div>
            </div>
        }

         <div class="row p-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Stage</label>
                    <select id="LastActionPlanSelect" class="select2">
                        <option value="6">DA TO DA CURE</option>
                        <option value="306">PLASMA TO WIREBOND</option>
                        <option value="306">PLASMA TO MOLD</option>
                    </select>
                </div>
            </div>
 
         </div>

           <div class="row p-3">
               <div class="col-md-3">
                   <label for="txtLotCode" class="form-label">Lot Code</label>
                    <input type="text" class="form-control" id="txtLotCode" value="DUMMYLOT.1-A">
               </div>
            <div class="col-md-3">
                <label for="txtCustomer" class="form-label">Customer</label>
                <input type="text" class="form-control" id="txtCustomerNameId" disabled="disabled">
                <input type="hidden" id="txtCustomerId">
            </div>
            <div class="col-md-3">
                <label for="txtLotQTY" class="form-label">Lot QTY</label>
                <input type="text" class="form-control" id="txtLotQTY">
            </div>
            <div class="col-md-3">
                <label for="txtMachineCode" class="form-label">Machine Code</label>
                <input type="text" class="form-control" id="txtMachineCode" value="TPTA001">
            </div>
           </div>

          @* Table *@
            <div class="p-3" id="magazineTableList"></div>


        <div class="row p-3 d-none" id="divCancel">
           <div class="col-md-3">
                <a asp-controller="PlasmaMagazine" class="btn btn-warning asp-action="PlasmaMagazineView">Cancel</a>
           </div>
        </div>

       </div>
   </div>

<div id="packageModal"></div>

@section Scripts 
 
{

    <script>
        //initialize select
        $('.select2').select2({
            width: '100%'
        });

        $(function () {
            $('#txtLotCode').focus();
            $('#txtMachineCode').prop('disabled', true)
            $('#txtLotQTY').prop('disabled', true)

            $('#txtMachineCode').keypress(function (event) {
                if ((event.which >= 65 && event.which <= 90) || (event.which >= 97 && event.which <= 122)) {
                    event.preventDefault();
                }
            });

        });

        //When user hit enter or barcode scanner
        $('#txtLotCode').keypress(function (event) { 
            var selectedStage = $('#LastActionPlanSelect').val();
            var lotAlias = $('#txtLotCode').val();

            if (event.keyCode === 13) {
                callLotChecker(lotAlias,
                              selectedStage)
            }
        });


        //When user hit enter or barcode scanner
        $('#txtMachineCode').keypress(function (event) {
            var machineCode = $('#txtMachineCode').val();
            var lotAlias =  $('#txtLotCode').val();
            var lotQTY = $('#txtLotQTY').val();
            var selectedStage = $('#LastActionPlanSelect').val();

            if (event.keyCode === 13) {
                callMachineChecker(lotAlias,
                                   lotQTY, 
                                   machineCode,
                                   selectedStage)
            }
        });

        //Function for checking Lot for specific stage
        function callLotChecker(paramLotAlias,
                                paramSelectedStage) {
            return new Promise(function (resolve, reject) {
                $.ajax({
                    type: "GET",
                    url: "/PlasmaMagazine/WhatAction",
                    data: {
                        LotAlias: paramLotAlias,
                        StageCode: paramSelectedStage
                    },
                    dataType: "json",
                    success: function (response) {
                        if (response.status !== 1) {
                            alert(response.message); 
                            return;
                        }

                        var lotQTY = response.details.qty;
                        var CustomerCode = response.details.customerCode;
                        var CustomerName = response.details.customerName;

                        $('#txtLotQTY').val(lotQTY)
                        $('#txtCustomerId').val(CustomerCode)
                        $('#txtCustomerNameId').val(CustomerName)


                        $('#txtLotCode').prop('disabled', true);
                        $('#txtMachineCode').prop('disabled', false);
                        $('#txtMachineCode').focus();

                        $('#divCancel').removeClass('d-none')
                    },
                    error: function (xhr, status, error) {
                        alert("Error Please contact IT for the solution")
                    }
                });
            });
        }

        //Function for checking Maachine if existing in PS_Equipment table
        function callMachineChecker(paramLot,
                                    paramLotQTY,
                                    paramMachineCode,
                                    paramSelectedStage) {
            $.ajax({
                type: "GET",
                url: "/PlasmaMagazine/CheckMachine",
                data: {
                    MachineCode: paramMachineCode,
                    lotQTY: paramLotQTY,
                    LotAlias : paramLot
                },
                dataType: "json",
                success: function (response) {
                    if (response.status !== 1) {
                        alert(response.message)
                        return;
                    }
                    //if machine code is exist 
                    $('#txtMachineCode').prop('disabled', true)
                    //Callback
                    callMagazineList(response.id,
                                     response.statusRemarks,
                                     paramSelectedStage);

                },
                error: function (xhr, status, error) {
                    alert("Error Please contact IT for the solution")
                    // callErrorPage('An error occurred while fetching data');
                }
            });
        }

        //Call Magazine List
        function callMagazineList(paramId,
                                  paramStatusRemarks,
                                  paramSelectedStage) {
            showSkeletonLoading('magazineTableList', 10, 20)
            $.ajax({
                type: "GET",
                url: "/PlasmaMagazine/_MagazineTrackInList",
                data: {
                    id : paramId,
                    StageCode: paramSelectedStage
                },
                dataType: "html",
                success: function (response) {

                    $("#magazineTableList").html('');
                    $("#magazineTableList").html(response);
                    $('#txtMagazineCode').focus();

                    //Check if Magazine qty exceed in lot
                    var sum = 0;
                    var lotTotalQTY = $('#txtLotQTY').val();
                    var magazineTotalQTY = 0
                    $('#MagazineListTable tr').each(function () {
                        magazineTotalQTY = parseInt($(this).find('td:eq(1)').text());
                        if (!isNaN(magazineTotalQTY)) {
                            sum += magazineTotalQTY;
                        }
                    });
                    $('#txtQTYMagazineNeeded').text(`${sum} / ${lotTotalQTY}`);


                    //Callback for magazine functionalty
                    $('#txtMagazineCode').keypress(function (event) {


                        if (event.keyCode === 13) {
                            //Callback to validate the magazine

                            if (sum >= lotTotalQTY) {
                                alert("Magazine will be exceed")
                                return;
                            }

                            var customerCode = $('#txtCustomerId').val()

                            callModalForPackage(customerCode, 
                                               paramId, 
                                               paramStatusRemarks, 
                                               paramSelectedStage)


                        }
                    });



                    //When track out click
                    $('#btnTrackOut').click(function () {
                        //Validate if magazine is qty is enough
                        if (sum <= lotTotalQTY) {
                            alert("Magazine is not enough for lot quantity")
                            return;
                        }

                        callTrackout(paramId, 
                                     paramStatusRemarks, 
                                     paramSelectedStage)
                    });

                },
                error: function (xhr, status, error) {
                    alert("Error Please contact IT for the solution")
                    // callErrorPage('An error occurred while fetching data');
                }
            });
        }


        function callModalForPackage(paramCustomerId, 
                                     paramId, 
                                     paramStatusRemarks, 
                                     paramSelectedStage) {

            $.ajax({
                type: "GET",
                url: "/PlasmaMagazine/_PackageModal",
                data: {
                    CustomerID : paramCustomerId
                },
                dataType: "html",
                success: function (response) {

                    $("#packageModal").html('');
                    $('#packageModal').append(response);
                    $('#ChoosePackageModal').modal('show');
                    //Initialization Select
                    $('.select2').select2({
                        width: '100%',
                        dropdownParent: $('#ChoosePackageModal')
                    });


                    var magazineCode = $('#txtMagazineCode').val();
                    var selectedStage = $('#LastActionPlanSelect').val();
                    var remarksMagazine = $('#txtMagazineRemarks').val();


                    $("#btnAddMagazineSave").click(function () {
                        var selectedPackageId = $('#packageListSelect').val();

                        callValidateAndInsertMagazine(magazineCode,
                                                      paramId,
                                                      paramStatusRemarks,
                                                      selectedStage,
                                                      remarksMagazine,
                                                      paramSelectedStage,
                                                      selectedPackageId);
                    });




                },
                error: function (xhr, status, error) {
                    alert("Error Please contact IT for the solution")
                    // callErrorPage('An error occurred while fetching data');
                }
            });
        }


        function callValidateAndInsertMagazine(magazine, 
                                               paramId,
                                               paramStatusRemarks, 
                                               paramselectedStage,
                                               paramRemarks,
                                               paramSelectedStage,
                                               selectedPackageId) {
            
            $.ajax({
                type: "GET",
                url: "/PlasmaMagazine/ValidateandInsertMagazine",
                data: {
                    id: paramId,
                    MagazineCode: magazine,
                    StatusRemarks: paramStatusRemarks,
                    StageCode: paramselectedStage,
                    Remarks: paramRemarks,
                    PackageTransId: selectedPackageId
                },
                dataType: "json",
                success: function (response) {

                    if (!response.isInserted) 
                    {
                        alert(response.message);
                        return;
                    }
                    $('#ChoosePackageModal').modal('hide');
                    callMagazineList(paramId,
                                     paramStatusRemarks,
                                     paramSelectedStage);
                   
                    
   
                },
                error: function (xhr, status, error) {
                    alert("Error Please contact IT for the solution")
                    // callErrorPage('An error occurred while fetching data');
                }
            });
        }



        function callTrackout(paramId,
                              paramStatusRemarks,
                              paramSelectedStage) {

            $.ajax({
                type: "GET",
                url: "/PlasmaMagazine/TrackOut",
                data: {
                    TRN_Lot_Magzine_Id: paramId,
                },
                dataType: "json",
                success: function (response) {

                    if (!response.isInserted) {
                        alert(response.message);
                        callMagazineList(paramId,
                            paramStatusRemarks,
                            paramSelectedStage);
                        return;
                    }

                    callMagazineList(paramId,
                                     paramStatusRemarks,
                                     paramSelectedStage);

                },
                error: function (xhr, status, error) {
                    alert("Error Please contact IT for the solution")
                    // callErrorPage('An error occurred while fetching data');
                }
            });
        }




    </script>

}
