@{
    ViewBag.Title = "PLASMA";
}

<div class="card ATEC-theme-color mb-3">
    <div class="card-header text-white">
        <H3>PLASMA</H3>
    </div>
</div>



<div class="card pb-3">
    <div class="card-body">
        @* Validation *@
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="mb-3">
                <div class="alert alert-danger">
                    <ul>
                        @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <li>@modelError.ErrorMessage</li>
                        }
                    </ul>
                </div>
            </div>
        }

        <div class="row p-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Stage</label>
                    <select id="stagePlanSelect" class="select2">
                        <option value="7">DA TO DA CURE</option>
                        <option value="8">PLASMA TO WIREBOND</option>
                        <option value="12">PLASMA TO MOLD</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row p-3">
            <div class="col-md-3">
                <label for="txtLotCode" class="form-label">Lot Number</label>
                <input type="text" class="form-control" id="txtLotCode">
            </div>
            <div class="col-md-3">
                <label for="txtCustomer" class="form-label">Current Stage</label>
                <input type="text" class="form-control" id="txtStage" disabled="disabled">
            </div>
            <div class="col-md-3">
                <label for="txtCustomer" class="form-label">Customer</label>
                <input type="text" class="form-control" id="txtCustomerNameId" disabled="disabled">
                <input type="hidden" id="txtCustomerIdHidden">
            </div>
            <div class="col-md-3">
                <label for="txtPackageTypeId" class="form-label">Package Type</label>
                <input type="text" class="form-control" id="txtPackageTypeId" disabled="disabled">
                <input type="hidden" id="txtPackageIdHidden">
                <input type="hidden" id="txtMagazineQTYHidden">
            </div>
        </div>
        <div class="row p-3">
            <div class="col-md-3">
                <label for="txtLeadTypeId" class="form-label">Lead Type</label>
                <input type="text" class="form-control" id="txtLeadTypeId" disabled="disabled">
            </div>
            <div class="col-md-3">
                <label for="txtLotQTY" class="form-label">Lot QTY</label>
                <input type="text" class="form-control" id="txtLotQTY">
            </div>
            <div class="col-md-3">
                <label for="txtMachineCode" class="form-label">Machine ID</label>
                <input type="text" class="form-control" id="txtMachineCode">
            </div>
        </div>
        @* Table *@
        <div class="p-3" id="magazineTableList"></div>


        <div class="row p-3 d-none" id="divCancel">
            <div class="col-md-3">
                <a asp-controller="PlasmaMagazine" class="btn btn-warning asp-action=" PlasmaMagazineView">Cancel</a>
            </div>
        </div>

    </div>
</div>

<div id="trackeOutModal"></div>

@section Scripts
{

    <script>
        //initialize select
        $('.select2').select2({
            width: '100%'
        });

        $(function () {
            $('#txtLotCode').focus();
            $('#txtMachineCode').prop('disabled', true)
            $('#txtLotQTY').prop('disabled', true)
        });

        //When user hit enter or barcode scanner
        $('#txtLotCode').keypress(function (event) {
            var selectedStage = $('#stagePlanSelect').val();
            var lotAlias = $('#txtLotCode').val();

            if (event.keyCode === 13) {
                callLotChecker(lotAlias,
                    selectedStage)
            }
        });


        //When user hit enter or barcode scanner
        $('#txtMachineCode').keypress(function (event) {
            var machineCode = $('#txtMachineCode').val();
            var lotAlias = $('#txtLotCode').val();
            var lotQTY = $('#txtLotQTY').val();
            var selectedStage = $('#stagePlanSelect').val();

            if (event.keyCode === 13) {
                callMachineChecker(lotAlias,
                    lotQTY,
                    machineCode,
                    selectedStage)
            }
        });

        //Function for checking Lot for specific stage
        function callLotChecker(paramLotAlias,
            paramSelectedStage) {
            return new Promise(function (resolve, reject) {
                $.ajax({
                    type: "GET",
                    url: "/PlasmaMagazine/WhatAction",
                    data: {
                        LotAlias: paramLotAlias,
                        StageCode: paramSelectedStage
                    },
                    dataType: "json",
                    success: function (response) {
                        if (response.status !== 1) {
                            showNotif(response.message)
                            return;
                        }
                        var lotQTY = response.details.qty;
                        var CustomerCode = response.details.customerCode;
                        var CustomerName = response.details.customerName;
                        var PackageType = response.details.packageType;
                        var LeadType = response.details.leadType;
                        var PackageID = response.details.packageID;
                        var MagazineQTY = response.details.magazineQTY;
                        var stageID = response.details.stageID;
                        var isMachineCodeExist = response.machineCode;


                        $('#txtLotQTY').val(lotQTY)
                        $('#txtCustomerIdHidden').val(CustomerCode)
                        $('#txtStage').val(stageID)
                        $('#txtCustomerNameId').val(CustomerName)
                        $('#txtPackageTypeId').val(PackageType)
                        $('#txtLeadTypeId').val(LeadType)
                        $('#txtPackageIdHidden').val(PackageID)
                        $('#txtMagazineQTYHidden').val(MagazineQTY)
                        $('#txtMachineCode').val(isMachineCodeExist)


                        if (isMachineCodeExist !== '') {
                            console.log(isMachineCodeExist);
                            var machineCode = $('#txtMachineCode').val();
                            var lotAlias = $('#txtLotCode').val();
                            var lotQTY = $('#txtLotQTY').val();
                            var selectedStage = $('#stagePlanSelect').val();

                            callMachineChecker(lotAlias,
                                lotQTY,
                                machineCode,
                                selectedStage)
                        }

                        $('#txtLotCode').prop('disabled', true);
                        $('#stagePlanSelect').prop('disabled', true);
                        $('#txtMachineCode').prop('disabled', false);

                        $('#txtMachineCode').focus();

                        $('#divCancel').removeClass('d-none')
                    },
                    error: function (xhr, status, error) {
                        alert("Error Please contact IT for the solution")
                    }
                });
            });
        }

        //Function for checking Maachine if existing in PS_Equipment table
        function callMachineChecker(paramLot,
            paramLotQTY,
            paramMachineCode,
            paramSelectedStage) {
            $.ajax({
                type: "GET",
                url: "/PlasmaMagazine/CheckMachine",
                data: {
                    MachineCode: paramMachineCode,
                    lotQTY: paramLotQTY,
                    LotAlias: paramLot,
                    StageCode: paramSelectedStage
                },
                dataType: "json",
                success: function (response) {
                    if (response.status !== 1) {
                        showNotif(response.message)
                        return;
                    }
                    //if machine code is exist 
                    $('#txtMachineCode').prop('disabled', true)
                    localStorage.removeItem('trackOutQTY');
                    localStorage.setItem('trackOutQTY', response.trackoutQTY);
                    //Callback
                    callMagazineList(response.id,
                        response.statusRemarks,
                        paramSelectedStage);

                },
                error: function (xhr, status, error) {
                    alert("Error Please contact IT for the solution")
                    // callErrorPage('An error occurred while fetching data');
                }
            });
        }

        //Call Magazine List
        function callMagazineList(paramId,
            paramStatusRemarks,
            paramSelectedStage) {
            showSkeletonLoading('magazineTableList', 10, 20)
            $.ajax({
                type: "GET",
                url: "/PlasmaMagazine/_MagazineTrackInList",
                data: {
                    id: paramId,
                    StageCode: paramSelectedStage
                },
                dataType: "html",
                success: function (response) {

                    $("#magazineTableList").html('');
                    $("#magazineTableList").html(response);
                    $('#txtMagazineCode').focus();

                    //Current Text
                    var currentStageText = $('#stagePlanSelect').find(':selected').text();

                    //Check if Magazine qty exceed in lot
                    var sum = 0;
                    var lotTotalQTY = $('#txtLotQTY').val();
                    var MagazinePerQTY = $('#txtMagazineQTYHidden').val();

                    var result = lotTotalQTY / MagazinePerQTY;

                    // Rounding up to the nearest whole number
                    var roundedResult = Math.ceil(result);
                    var paramTrackOut = localStorage.getItem('trackOutQTY');
                    var magazineTotalQTY = parseInt(paramTrackOut);
                    $('#MagazineListTable tr:not(:first)').each(function () {
                        magazineTotalQTY++
                    });
                    $('#txtQTYMagazineNeeded').text(`${magazineTotalQTY} / ${roundedResult}`);
                    $('#txtMagazineTrackOutQTY').text(paramTrackOut);

                    $('#textMagazineID').text('');
                    $('#btnTrackOut').text('');
                    $('#textMagazineID').text(getLettersBeforeTO(currentStageText));
                    $('#btnTrackOut').text(getLettersAfterTO(currentStageText));



                    //Callback if Lot magazine qty needed is already completed
                    if (paramTrackOut == roundedResult) {
                        $("#magazineTableList").html('');
                        showNotif("This lot is already completed in ths stage")
                            .then(() => {
                                location.reload();
                            })
                        return;
                    }

                    //Callback for magazine functionalty
                    $('#txtMagazineCode').keypress(function (event) {
                        var magazineCode = $('#txtMagazineCode').val();

                        if (event.keyCode === 13) {
                            //Callback to validate the magazine
                            if (magazineCode === '') {
                                showNotif("Please scan magazine")
                                return;
                            }

                            if (magazineTotalQTY >= roundedResult) {
                                showNotif("This Magazine is already used for this LOT / STAGE")
                                return;
                            }

                            var customerCode = $('#txtCustomerIdHidden').val()


                            // callModalForPackage(customerCode, 
                            //                    paramId, 
                            //                    paramStatusRemarks, 
                            //                    paramSelectedStage)

                            var packageID = $('#txtPackageIdHidden').val()
                            var remarksMagazine = $('#txtMagazineRemarks').val();
                            var selectedStage = $('#stagePlanSelect').val();


                            callValidateAndInsertMagazine(magazineCode,
                                paramId,
                                paramStatusRemarks,
                                selectedStage,
                                remarksMagazine,
                                paramSelectedStage,
                                packageID);

                        }
                    });



                    //When track out click
                    $('#btnTrackOut').click(function () {
                        //Validate if magazine is qty is enough
                        if (magazineTotalQTY === 0) {
                            showNotif("Magazine QTY is not enough for Lot quantity")
                            return;
                        }

                        callModalForTrackout(paramId,
                            paramStatusRemarks,
                            paramSelectedStage)
                    });

                },
                error: function (xhr, status, error) {
                    alert("Error Please contact IT for the solution")
                    // callErrorPage('An error occurred while fetching data');
                }
            });
        }


        function callModalForTrackout(paramId,
            paramStatusRemarks,
            paramSelectedStage) {

            $.ajax({
                type: "GET",
                url: "/PlasmaMagazine/_TrackoutModal",
                dataType: "html",
                success: function (response) {

                    $("#trackeOutModal").html('');
                    $('#trackeOutModal').append(response);
                    $('#TrackOutModal').modal('show');


                    $('#txtMagazineCodeTrackOut').keypress(function (event) {
                        if (event.keyCode === 13) {
                            var magCode = $('#txtMagazineCodeTrackOut').val()

                            callTrackout(magCode,
                                paramId,
                                paramStatusRemarks,
                                paramSelectedStage)
                        }
                    });




                },
                error: function (xhr, status, error) {
                    alert("Error Please contact IT for the solution")
                    // callErrorPage('An error occurred while fetching data');
                }
            });
        }

        function callModalForPackage(paramCustomerId,
            paramId,
            paramStatusRemarks,
            paramSelectedStage) {

            $.ajax({
                type: "GET",
                url: "/PlasmaMagazine/_PackageModal",
                data: {
                    CustomerID: paramCustomerId
                },
                dataType: "html",
                success: function (response) {

                    $("#trackeOutModal").html('');
                    $('#trackeOutModal').append(response);
                    $('#ChoosePackageModal').modal('show');
                    //Initialization Select
                    $('.select2').select2({
                        width: '100%',
                        dropdownParent: $('#ChoosePackageModal')
                    });


                    var magazineCode = $('#txtMagazineCode').val();
                    var selectedStage = $('#stagePlanSelect').val();
                    var remarksMagazine = $('#txtMagazineRemarks').val();


                    $("#btnAddMagazineSave").click(function () {
                        var selectedPackageId = $('#packageListSelect').val();

                        callValidateAndInsertMagazine(magazineCode,
                            paramId,
                            paramStatusRemarks,
                            selectedStage,
                            remarksMagazine,
                            paramSelectedStage,
                            selectedPackageId);
                    });




                },
                error: function (xhr, status, error) {
                    alert("Error Please contact IT for the solution")
                    // callErrorPage('An error occurred while fetching data');
                }
            });
        }


        function callValidateAndInsertMagazine(magazine,
            paramId,
            paramStatusRemarks,
            paramselectedStage,
            paramRemarks,
            paramSelectedStage,
            selectedPackageId) {

            $.ajax({
                type: "GET",
                url: "/PlasmaMagazine/ValidateandInsertMagazine",
                data: {
                    id: paramId,
                    MagazineCode: magazine,
                    StatusRemarks: paramStatusRemarks,
                    StageCode: paramselectedStage,
                    Remarks: paramRemarks,
                    PackageTransId: selectedPackageId
                },
                dataType: "json",
                success: function (response) {

                    if (!response.isInserted) {
                        showNotif(response.message)
                            .then(() => { })
                        return;
                    }

                    showNotif(`Magazine (${magazine}) has been TRACKED IN`)
                        .then(() => { })
                    callMagazineList(paramId,
                        paramStatusRemarks,
                        paramSelectedStage);



                },
                error: function (xhr, status, error) {
                    alert("Error Please contact IT for the solution")
                    // callErrorPage('An error occurred while fetching data');
                }
            });
        }



        function callTrackout(magazineCode,
            paramId,
            paramStatusRemarks,
            paramSelectedStage) {

            $.ajax({
                type: "GET",
                url: "/PlasmaMagazine/TrackOut",
                data: {
                    TRN_Lot_Magzine_Id: paramId,
                    StageCode: paramSelectedStage,
                    MagazineCode: magazineCode,
                },
                dataType: "json",
                success: function (response) {

                    if (!response.isInserted) {

                        showNotif(response.message)
                        callMagazineList(paramId,
                            paramStatusRemarks,
                            paramSelectedStage);
                        return;
                    }

                    var paramTrackOut = localStorage.getItem('trackOutQTY');
                    var magazineTotalQTY = parseInt(paramTrackOut) + 1;
                    localStorage.setItem('trackOutQTY', magazineTotalQTY);

                    $('#txtMagazineCodeTrackOut').val('')
                    $('#txtMagazineCodeTrackOut').focus();
                    showNotif(response.message)
                    callMagazineList(paramId,
                        paramStatusRemarks,
                        paramSelectedStage);
                },
                error: function (xhr, status, error) {
                    alert("Error Please contact IT for the solution")
                    // callErrorPage('An error occurred while fetching data');
                }
            });
        }




    </script>

}
