
<div class="card ATEC-theme-color mb-3">
       <div class="card-header text-white">
               <H3>PLASMA</H3>
       </div>
   </div>
   
   
   
   <div class="card pb-3">
       <div class="card-body">
        @* Validation *@
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="mb-3">
                <div class="alert alert-danger">
                    <ul>
                        @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <li>@modelError.ErrorMessage</li>
                        }
                    </ul>
                </div>
            </div>
        }

         <div class="row p-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Stage</label>
                    <select id="LastActionPlanSelect" class="select2">
                        <option value="1">DA TO DA CURE</option>
                        <option value="2">PLASMA TO WIREBOND</option>
                        <option value="3">PLASMA TO MOLD</option>
                    </select>
                </div>
            </div>
         </div>

           <div class="row p-3">
               <div class="col-md-4">
                   <label for="txtLotCode" class="form-label">Lot Code</label>
                   <input type="text" class="form-control" id="txtLotCode">
               </div>
            <div class="col-md-4">
                <label for="txtMachineCode" class="form-label">Machine Code</label>
                <input type="text" class="form-control" id="txtMachineCode">
            </div>
@*             <div class="col-md-4">
                <label for="txtMagazineCode" class="form-label">Magazine Code</label>
                <input type="text" class="form-control" id="txtMagazineCode">
            </div> *@
           </div>




        <div class="row p-3">
            <div id="machineTableList"></div>
        </div>

       </div>
   </div>

@section Scripts 
 
{

    <script>
        var lotAlias = ''
        var lotQTY = 0
        //initialize select
        $('.select2').select2({
            width: '100%'
        });

        $(function () {
            $('#txtLotCode').focus();
            $('#txtMachineCode').prop('disabled', true)
        });

 


        $('#txtLotCode').keypress(function (event) {
            var selectedStage = $('#LastActionPlanSelect').val();
            var lotAlias = $('#txtLotCode').val();

            if (event.keyCode === 13) {
                callLotChecker(lotAlias)
            }
        });



        $('#txtMachineCode').keypress(function (event) {
            var machineCode = $('#txtMachineCode').val();

            if (event.keyCode === 13) {
                callLotChecker(lotAlias, 
                               lotQTY, 
                               machineCode)
            }
        });


        function callLotChecker(paramLotAlias) {
            return new Promise(function (resolve, reject) {
                $.ajax({
                    type: "GET",
                    url: "/PlasmaMagazine/CheckLot",
                    data: {
                        LotAlias: paramLotAlias
                    },
                    dataType: "json",
                    success: function (response) {
                        if (response.status !== 1) {
                            alert(response.message); 
                            return;
                        }

                        var lotAlias = response.details.lotAlias;
                        var lotQTY = response.details.qty;

                        $('#txtLotCode').prop('disabled', true);
                        $('#txtMachineCode').prop('disabled', false);
                        $('#txtMachineCode').focus();
              
                    },
                    error: function (xhr, status, error) {
                        alert("AJAX error: " + error);
                    }
                });
            });
        }


        function callMachineChecker(paramLot,
                                    paramLotQTY
                                    paramMachineCode) {
            // showSkeletonLoading('billedListTableForm', 5, 5)
            $.ajax({
                type: "GET",
                url: "/PlasmaMagazine/CheckMachine",
                data: {
                    MachineCode: paramMachineCode,

                },
                dataType: "json",
                success: function (response) {
                    if (response.status !== 1) {
                        alert(response.message)
                        return;
                    }
                    //if machine code is exist
                    $('#txtMachineCode').prop('disabled', true)
                    alert(response.message)

                },
                error: function (xhr, status, error) {
                    alert("error")
                    // callErrorPage('An error occurred while fetching data');
                }
            });
        }

    </script>

}
